<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=div#root, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <!-- <ul>
            <li v-for="(index,name) in names">{{index}}: {{name}}</li>
        </ul> -->

        <ol>
            <li v-for="name in names" v-text="name"></li>
        </ol>
        <input type="text" v-model="nameToAdd">
        <button v-on:click="addName">Add name</button>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        // let data={
        //     message:"Try Vue through CDN"
        // };

        //vue 2 version
        // new Vue({
        //     el:"#root",
        //     data: data
        // })

        //vue 3 version
        const { createApp } = Vue

        let app = createApp({
            data(){
                return {
                    names: ['Joe', "Marry", 'Jane', "Jack"],
                    nameToAdd:''
                }
            },
            methods:{
                addName(){
                    this.names.push(this.nameToAdd)
                }
            }
        }).mount("#root");

        /*old way of programming events
        document.querySelector("#btn").addEventListener('click',()=>{
            let newName = document.querySelector("#nameToAdd");
            app.names.push(newName.value);
            newName.value = "";
        })*/
    </script>
</body>
</html>